<div class="wrapper ">
    <app-side-nav-tourist></app-side-nav-tourist>
    <div class="main-panel"><div class="col-md-12">
            <div class="card card-profile">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Packages List</h4>
                    <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                <div class="card-body">
                    <app-hotel-list></app-hotel-list>
                </div>
            </div>
        </div>
  </div>
