<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a [routerLink]="['/']" class="simple-text logo-normal">
      Balangoda Tours
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" [routerLink]="['/tourist/dashboard']">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" [routerLink]="['/tourist/packages']">
          <i class="material-icons">library_books</i>
          <p>Packages</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" [routerLink]="['/tourist/guides']">
          <i class="material-icons">library_books</i>
          <p>Guides</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" [routerLink]="['/tourist/locations-list']">
          <i class="material-icons">location_ons</i>
          <p>Locations</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">
          <i class="material-icons">logout</i>Log out
        </a>
      </li>
    </ul>
  </div>
</div>
