<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Guide</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
                            <i class="material-icons">person</i><input type="text" #fullName="ngModel" [(ngModel)]="guideService.selectedUser.fullName" name="fullName" placeholder="Full Name"
                            required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
                            <div *ngIf="signUpForm.submitted && !fullName.valid">
                              <label class="validation-message">This field is required.</label>
                            </div>
                            <i class="material-icons">email</i><input type="text" #email="ngModel" [(ngModel)]="guideService.selectedUser.email" name="email" placeholder="Email"
                            required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                            <div *ngIf="signUpForm.submitted && email.errors">
                              <label  class="validation-message">This field is required.</label>
                              <label  class="validation-message">Invalid email address.</label>
                            </div>
                            <input type="hidden" #role="ngModel" [(ngModel)]="guideService.selectedUser.role" name="role" value="guide">
                            <i class="material-icons">lock</i><input type="password" #password="ngModel" [(ngModel)]="guideService.selectedUser.password" name="password" placeholder="Password"
                            minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
                            <div *ngIf="signUpForm.submitted && password.errors">
                              <label class="validation-message">This field is required.</label>
                              <label  class="validation-message">Enter atleast 4 characters.</label>
                            </div>
                            <input type="submit" value="Add Guide">
                          </form>

                          <!-- Success message -->
                          <i class="material-icons" *ngIf="showSucessMessage">thumb_up</i>
                          <div class="success" *ngIf="showSucessMessage">
                              <i class="material-icons">thumb_up</i>
                            Saved successfully
                          </div>

                          <!-- Error message -->

                          <i class="material-icons" *ngIf="serverErrorMessages">error</i>
                          <div class="alert alert-danger" *ngIf="serverErrorMessages">
                            {{serverErrorMessages}}
                          </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-profile">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Guides List</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <app-guide-list></app-guide-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
