<div class="wrapper ">
    <app-side-nav-admin></app-side-nav-admin>
    <div class="main-panel">
        <nav mat-tab-nav-bar>
            <a mat-tab-link class="nav-item nav-link" [routerLink]="['/admin/add-hotel']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="material-icons">add_comment</i>
                Add Hotel
            </a>
            <a mat-tab-link class="nav-item nav-link" [routerLink]="['/admin/list-hotels']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <i class="material-icons">format_list_bulleted</i>
                Hotels List
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
