  <h1>GUIDES</h1>
    <img class="card-img-top" src="src/assets/img/theme/angular.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Musthafa Madahi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button type="button" class="btn btn-outline-info">View profile</button>
    </div>
    <img class="card-img-top" src="src/assets/img/theme/signin.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Musthafa Madahi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button type="button" class="btn btn-outline-info">View profile</button>
    </div>
